<table width="100%" class="pure-table pure-table-bordered small-margin-top">
  <tbody>
    <tr valign="top">
      <td>
        Process ID
      </td>
      <td>
        {{ pipelineprocess.pk }}
      </td>
      <td>
      </td>
    </tr>
    <tr valign="top">
      <td>
        Created
      </td>
      <td>
        {{ pipelineprocess.created|date:'d/m/Y H:i' }}
      </td>
      <td>
      </td>
    </tr>
    <tr valign="top">
      <td>
        Pipeline
      </td>
      <td>
        {% if pipelineprocess.is_deleted %}
          <del>
        {% endif %}
        {{ pipelineprocess.pipeline.title }}
        <small>
          ({{ pipelineprocess.pipeline.slug }})
        </small>
        {% if pipelineprocess.is_deleted %}
          </del>
          <strong>
            (Deleted {{ pipelineprocess.date_deleted|date:'d/m/Y H:i' }} by {{ pipelineprocess.user_deleted.username }})
          </strong>
        {% endif %}
      </td>
      <td>
        {% if not pipelineprocess.is_deleted %}
          <a href="{% url 'pipeline.process.delete' pipelineprocess.pk %}">
            <i class="fa fa-trash-o"></i>
            Delete
          </a>
        {% endif %}
      </td>
    </tr>
  </tbody>
</table>
<table width="100%" class="pure-table pure-table-bordered small-margin-top">
  <thead>
    <tr valign="top">
      <th>ID</th>
      <th>Created</th>
      <th>Step</th>
      <th>Status</th>
      <th>Class</th>
    </tr>
  </thead>
  <tbody>
    {% for x in pipelineprocess.steps %}
      <tr class="errorlist" valign="top">
        <td>
          <strong>
            {{ x.pk }}
          </strong>
        </td>
        <td>
          {{ x.created|date:'d/m/Y H:i' }}
        </td>
        <td>
          <strong>
            {{ x.pipeline_step.order }}
          </strong>
        </td>
        <td>
          {% if not x.is_complete %}
            {% if user.is_superuser %}
              <a href="{% url 'pipeline.process.step.retry' x.pk %}?next={{ request.path }}">
                <i class="fa fa-refresh"></i>
                Retry...
              </a>
            {% endif %}
          {% endif %}
          {{ x.retry_str|default:"pending" }}
          {% if x.fail_date %}
            <small>
              ({{ x.retries }} retries - maximum {{ x.max_retry_count }}
              |
              last failure {{ x.fail_date|date:'d/m/Y H:i' }})
            </small>
          {% endif %}
        </td>
        <td>
          <strong>
            {{ x.pipeline_step.class_name }}
          </strong>
        </td>
      </tr>
      {% for audit in x.audit %}
        <tr valign="top">
          <td>
          </td>
          <td>
            {{ audit.created|date:'d/m/Y H:i' }}
          </td>
          <td colspan="3">
            {{ audit.description }}
          </td>
        </tr>
      {% endfor %}
    {% endfor %}
  </tbody>
</table>
