<div class="pure-u-1 pure-u-md-1-4">
  <div class="pure-g">
    <div class="pure-u-1">
      <h4>Pipeline</h4>
    </div>
  </div>
  <div class="r-box">
    <a href="{% url 'pipeline.process.list' %}" class="pure-menu-link">
      <i class="fa fa-paw"></i>
      Process
    </a>
  </div>
  <div class="r-box">
    <a href="{% url 'pipeline.process.outstanding.list' %}" class="pure-menu-link">
      <i class="fa fa-paw"></i>
      Outstanding
    </a>
  </div>
  <div class="r-box">
    <a href="{% url 'pipeline.process.step.list' %}" class="pure-menu-link">
      <i class="fa fa-paw"></i>
      Steps
    </a>
  </div>
</div>
