{% extends 'dash/base.html' %}

{% block sub_title %}
  Retry Pipeline Process {{ object.pk }}
{% endblock sub_title %}

{% block sub_heading %}
  Retry Pipeline Process {{ object.pk }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            {% if next %}
              <a href="{{ next }}" class="pure-menu-link">
                <i class="fa fa-reply"></i>
              </a>
            {% else %}
              <a href="{% url 'pipeline.process.detail' object.pipeline_process.pk %}" class="pure-menu-link">
                <i class="fa fa-reply"></i>
              </a>
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table width="100%" class="pure-table pure-table-bordered small-margin-top">
        <tbody>
          <tr valign="top">
            <td>
              Process ID
            </td>
            <td>
              {{ object.pipeline_process.pk }}
            </td>
          </tr>
          <tr valign="top">
            <td>
              Created
            </td>
            <td>
              {{ object.pipeline_process.created|date:'d/m/Y H:i' }}
            </td>
          </tr>
          <tr valign="top">
            <td>
              Pipeline
            </td>
            <td>
              {{ object.pipeline_process.pipeline.title }}
              <small>
                ({{ object.pipeline_process.pipeline.slug }})
              </small>
            </td>
          </tr>
          <tr valign="top">
            <td>
              <strong>
                Process Step ID
              </strong>
            </td>
            <td>
              {{ object.pk }}
            </td>
          </tr>
          <tr valign="top">
            <td>
              Created
            </td>
            <td>
              {{ object.created|date:'d/m/Y H:i' }}
            </td>
          </tr>
          <tr valign="top">
            <td>
              Pipeline
            </td>
            <td>
              {{ object.pipeline_step.description }}
            </td>
          </tr>
          <tr valign="top">
            <td>
              Status
            </td>
            <td>
              {{ object.retry_str }}
              (maximum retries {{ object.max_retry_count }} | default {{ object.DEFAULT_MAX_RETRY_COUNT }})
            </td>
          </tr>
        </tbody>
      </table>
      <p>
        To retry the step, click the <strong>Retry step...</strong> button...
      </p>
      {% include '_form.html' with submit='Retry step...' %}
      <p>
        <i class="fa fa-info-circle"></i>
        Note: Clicking the button will call the
        <code>
          process_steps
        </code>
        function which will retry <strong>all</strong> outstanding steps.
      </p>
    </div>
  </div>
{% endblock %}
