{% extends 'dash/base.html' %}
{% load static %}

{% block title %}
  Process
{% endblock title %}

{% block sub_heading %}
  Process
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'pipeline.process.list' %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
            </a>
          </li>
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      {% include 'pipeline/_pipeline_process_detail.html' %}
    </div>
  </div>
{% endblock content %}
