{% extends 'dash/base.html' %}

{% block sub_title %}
  Delete Pipeline Process {{ object.pk }}
{% endblock sub_title %}

{% block sub_heading %}
  Delete Pipeline Process {{ object.pk }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            {% if next %}
              <a href="{{ next }}" class="pure-menu-link">
                <i class="fa fa-reply"></i>
              </a>
            {% else %}
              <a href="{% url 'pipeline.process.detail' object.pk %}" class="pure-menu-link">
                <i class="fa fa-reply"></i>
              </a>
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table width="100%" class="pure-table pure-table-bordered small-margin-top">
        <tbody>
          <tr valign="top">
            <td>
              Process ID
            </td>
            <td>
              {{ object.pk }}
            </td>
          </tr>
          <tr valign="top">
            <td>
              Created
            </td>
            <td>
              {{ object.created|date:'d/m/Y H:i' }}
            </td>
          </tr>
          <tr valign="top">
            <td>
              Pipeline
            </td>
            <td>
              {{ object.pipeline.title }}
              <small>
                ({{ object.pipeline.slug }})
              </small>
            </td>
          </tr>
        </tbody>
      </table>
      <p>
        To delete the process, click the <strong>Delete process...</strong> button...
      </p>
      {% include '_form.html' with submit='Delete process...' %}
    </div>
  </div>
{% endblock %}
