{% extends 'dash/base.html' %}
{% load static %}

{% block title %}
  Process Steps
{% endblock title %}

{% block sub_heading %}
  Process Steps
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'project.settings' %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
            </a>
          </li>
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        <thead>
          <tr valign="top">
            <th>ID</th>
            <th>Created</th>
            <th>Order</th>
            <th>Class</th>
            <th>Status</th>
            <th>Process</th>
          </tr>
        </thead>
        <tbody>
          {% for x in object_list %}
            <tr valign="top">
              <td>
                {{ x.pk }}
              </td>
              <td>
                {{ x.created|date:'d/m/Y H:i' }}
              </td>
              <td>
                {{ x.pipeline_step.order }}
              </td>
              <td>
                {{ x.pipeline_step.class_name }}
              </td>
              <td>
                {{ x.retry_str|default:"Pending" }}
              </td>
              <td>
                <a href="{% url 'pipeline.process.detail' x.pipeline_process.pk %}">
                  {{ x.pipeline_process.pk }}.
                  {{ x.pipeline_process.pipeline.title }}
                  <small>
                    ({{ x.pipeline_process.pipeline.slug }})
                  </small>
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
