{% extends 'dash/base.html' %}
{% load static %}

{% block title %}
  {% if title %}
    {{ title }}
  {% else %}
    Process
  {% endif %}
{% endblock title %}

{% block sub_heading %}
  {% if title %}
    {{ title }}
  {% else %}
    Process
  {% endif %}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'project.settings' %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
            </a>
          </li>
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        <thead>
          <tr valign="top">
            <th>ID</th>
            <th>Created</th>
            <th>Title</th>
          </tr>
        </thead>
        <tbody>
          {% for x in object_list %}
            <tr valign="top">
              <td>
                <a href="{% url 'pipeline.process.detail' x.pk %}">
                  {{ x.pk }}
                </a>
              </td>
              <td>
                {% if x.is_deleted %}
                  <del>
                {% endif %}
                <a href="{% url 'pipeline.process.detail' x.pk %}">
                  {{ x.created|date:'d/m/Y H:i' }}
                </a>
                {% if x.is_deleted %}
                  </del>
                  <small>
                    (deleted {{ x.date_deleted|date:'d/m/Y H:i' }}
                    by
                    {{ x.user_deleted.username }})
                  </small>
                {% endif %}
              </td>
              <td>
                {{ x.pipeline.title }}
                <small>
                  ({{ x.pipeline.slug }})
                </small>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
